@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "death";
  src: url("./Jacquard12-Regular.ttf");
}

@font-face {
  font-family: "death2";
  src: url("./UncialAntiqua-Regular.ttf");
}

@font-face {
  font-family: "death3";
  src: url("./CinzelDecorative-Black.ttf");
}

@font-face {
  font-family: "death4";
  src: url("./CinzelDecorative-Bold.ttf");
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
